<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <div class="jumbotron">
          <%= link_to "", root_path, :class => "btn btn-fab btn-raised btn-material-red mdi-navigation-arrow-back" %>
          <% if @chart %>
          <%= high_chart("1", @chart) %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <div class="bs-component">
          <%= form_tag({action: :calculate}, multipart: true) do %>
          <div class="col-md-12">
          <% if @option[:log] %>
          <%= hidden_field_tag 'log', nil %>
          <%= hidden_field_tag 'output', @output %>
          <%= button_tag  'linear', type: 'submit', class: 'btn btn-primary btn-block' %>
          <% else %>
          <%= hidden_field_tag 'log', true %>
          <%= hidden_field_tag 'output', @output %>
          <%= button_tag  'log', type: 'submit', class: 'btn btn-primary btn-block' %>
          <% end %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="bs-component">
          <div class="col-md-12">
            <%= link_to "Download", download_path, :class => "btn btn-primary btn-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>