<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Calculate Decay Heat</h1>
        <p class="lead text-center">Showing the Decay Heat with three method</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="well bs-component">
          <%= form_tag({action: :calculate}, multipart: true) do %>
          <fieldset>
          <div class="form-group">
              <label class="col-md-2 control-label text-center">File</label>
              <div class="col-md-10">
                <%= file_field_tag 'text', accept: '.txt', class: 'form-control floating-label file' %>
                <%= hidden_field_tag 'first', true %>
              </div>
              <div class="col-md-6 col-md-offset-3">
                <%= button_tag  'Upload', type: 'submit', class: 'btn btn-primary btn-block' %>
              </div>
          </div>
          </fieldset>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Or</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="well bs-component">
          <%= form_tag({action: :calculate}, multipart: true) do %>
          <fieldset>
          <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
                <%= hidden_field_tag 'demo', value: true %>
                <%= hidden_field_tag 'first', true %>
                <%= button_tag  'Demo', type: 'submit', class: 'btn btn-primary btn-block' %>
              </div>
          </div>
          </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
